@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>

<!DOCTYPE html>


<html>
<head>

  
    <title></title>
</head>
<body>

    <div id="header">
   
    </div>
    <div class="left"></div>
    <div class="right">
        <h4>Who Am I?</h4>
        <p>I am a girl who was born in Adana. After complating my highschool education I moved to Ankara</p>
        <p>Now I am student here. I like spent time with my computer.</p>
        <p>Also I like music and my guitar. </p>
        </br>
        <h4>Experience</h4>
        <p>Internship - Vendeka (2014)</p>
      
         <li>Created web page using mysql</li>
       
        </br>
        <h4>Skills</h4>
        <p>Languages: C, Java, HTML, C#</p>
        <p>Frameworks: .NET, mySql</p>
        </br>
        <h4>Education</h4>
        <p>Computer Engineering, Engineering Faculty, Yildirim Beyazit University</p>
        
    </div>
    
</body>
</html>