@{
    ViewBag.Title = "Contact";
  
}
<h2>@ViewBag.Title</h2>


<address>
    Gizem BOGA<br />
    Yildirim Beyazit University<br />
    Engineering Faculty<br />
    Computer Engineering Department<br />
    <abbr title="Phone">Phone:</abbr>
    0538 240 74 55
</address>

<address>
    <strong>GitHub:</strong>   <a href="https://github.com/gizembg">github.com/gizembg</a><br />
  
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/gizem.boga"> facebook.com/gizem.boga</a><br />

    <strong>Mail:</strong>  gizembg@gmail.com<br />
</address>